#cuerpazo{
    background: #15181f;
}
.contenedor_admin{
    background:  #2d343f;
    height: 100%;
    position: relative;
    width: 70%;
    left: 15%;
}
.btn_info{
    background: rgb(53, 50, 50);
}
.tablas_admin{
    padding: 5px;
}
.contenedor_admin h1{
    color: white;
    font-size: 25px;
}
.addProductosTitulos{
    background: green;
    width: 40%;
    float: left;
    text-align: right;
}
#titulos{
    color: blanchedalmond;
    text-align: right;
    padding: 12px;
    width: 100%;
}
#inputs{
    width: 75%;
    
}

.addProductosInputs{
    background: rgb(11, 153, 163);
    width: 60%;
    float: left;
}
.datosProductos{
    width: 70%;
    margin: auto;
}
.datosCombos{
    width: 70%;
    margin: auto;
}

.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}
.contenedor_admin input[type="text"], .contenedor_admin input[type="password"], .contenedor_admin input[type="number"],.contenedor_admin input[type="mail"] {
    background: rgba(11, 64, 78, 0);
    border: none;
    border-bottom: 1px solid rgba(253, 253, 253, 0.753);
    outline: none;
    font-size: 16px;
    color: white;
}
.contenedor_admin input[type="file"]{
    background: rgba(11, 64, 78, 0);
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
}
input:invalid {
    border: 2px dashed red;
  }
  
  input:valid {
    border: 2px solid black;
  }

  .contenedorVideos{
  
      width: 50%;
    
            
  }