form{
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}
textarea{
    min-height: 100px;
    max-width: 200px;
    max-width: 100%;
}
#boton{
    background:#2171DD;
    color: #ffffff;
    padding: 20px;
}
p{
    text-align: justify ;
}
#boton:hover{
    cursor: pointer;
}
@media (max-width:480px){
    form{
        width: 100%;
    }
}